/**
 * $Header: /home/zefiro/cvsrep/cpp/wajima/resource/lib/zefirolibtest.rc,v 1.1 2002/05/10 19:33:59 ama Exp $
 */

#include <windows.h>
#include "graphics/test/resource.h"
#include <winver.h>

TESTAPP MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "E&xit",			IDM_EXIT
	END
	MENUITEM "&Test!",				IDM_TEST
	MENUITEM "&AdapterDeviceOutput!",	IDM_ADAPTER_DEVICE_OUTPUT
END
