/**
 * $Header: /home/zefiro/cvsrep/cpp/wajima/resource/lib/zefirolibtest.rc,v 1.3 2002/05/20 18:34:29 ama Exp $
 */

#include <windows.h>
#include "resource.h"
#include <winver.h>

TESTAPP MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "E&xit",			IDM_EXIT
	END
	MENUITEM "&Test!",				IDM_TEST
	MENUITEM "&AdapterDeviceOutput!",	IDM_ADAPTER_DEVICE_OUTPUT
	MENUITEM "&ThreadTest!",	IDM_THREAD_TEST
END
