/**
 * $Header: /home/zefiro/cvsrep/cpp/wajima/src/main/game/test/Attic/graphicstest.rc,v 1.4 2002/04/28 13:24:31 ama Exp $
 */

#include <windows.h>
#include <test/resource.h>
#include <winver.h>

TESTAPP MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "E&xit",			IDM_EXIT
	END
	MENUITEM "&Test!",				IDM_TEST
END
