#include <windows.h>
#include <graphics/test/resource.h>
#include <winver.h>

TESTAPP MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "E&xit",			IDM_EXIT
	END
	MENUITEM "&Test!",				IDM_TEST
	MENUITEM "&AdapterDeviceOutput!",	IDM_ADAPTER_DEVICE_OUTPUT
END
